{% extends 'base.html.twig' %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/user_profile.css') }}" />
{% endblock %}{% block body %}
<div class="profile-page">
  <div class="page-header header-filter" data-parallax="true"></div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img
                  src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg"
                  alt="Circle Image"
                  class="img-raised rounded-circle img-fluid"
                />
              </div>
              <div class="name">
                <h3 class="title">{{ app.user.username }}</h3>
                {% if is_granted('ROLE_ADMIN') %} role admin {% endif %} {% if
                is_granted('ROLE_TEACHER') %} role teacher {% endif %}
               
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p>
            <!-- Description de user -->
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile-tabs">
              <ul
                class="nav nav-pills nav-pills-icons justify-content-center"
                role="tablist"
              >
                {% if is_granted('ROLE_STUDENT') or is_granted('ROLE_TEACHER')
                %}
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    href="#studio"
                    role="tab"
                    data-toggle="tab"
                  >
                    <i class="fa fa-book"></i>
                    Your Cours
                  </a>
                </li>
                {% endif %}
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="#works"
                    role="tab"
                    data-toggle="tab"
                  >
                    <i class="fa fa-user"></i>
                    Setting
                  </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                  <a
                    class="nav-link"
                    href="#teacherList"
                    role="tab"
                    data-toggle="tab"
                  >
                    <i class="material-icons">TEACHER LIST</i>
                    <a>
                    </li>
                    <li class="nav-item">
                    <a
                    class="nav-link"
                    href="#studentList"
                    role="tab"
                    data-toggle="tab"
                  >
                    <i class="material-icons">STUDENT LIST</i>
                    
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-content tab-space">
          <!--================ show all your cour for student and teacher =================-->
          {% if is_granted('ROLE_STUDENT') or is_granted('ROLE_TEACHER') %}
          <div class="tab-pane active text-center gallery" id="studio">
            <div class="row">
              {% include "user_profile/_show_cour.html.twig" %}
            </div>
          </div>
          {% endif %}
          <!--==========================================-->

          <!--================ setting =================-->
          <div class="tab-pane text-center gallery" id="works">
            <div class="row">
              <!-- continie 2 -->
              manage user
            </div>
          </div>
          <!--==========================================-->

          <!--================ chnage role for admin only  =================-->
          {% if is_granted('ROLE_ADMIN') %}
          <div class="tab-pane text-center gallery" id="teacherList">
            <div class="row">
              {% include "user_profile/_change_role.html.twig" %}
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="studentList">
            <div class="row">
              {% include "user_profile/student_list.html.twig" %}
            </div>
          </div>
          {% endif %}
          <!--==========================================-->
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />

{% endblock %} {% block JavaScript %}
<script src="{{ asset('js/user_profile.js') }}"></script>
<script
  src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
  integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
  crossorigin="anonymous"
></script>

{% endblock %}